@model BloggieWeb.Models.ViewModels.ProductDto
@using System.Globalization


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.ImageUrl" alt="..." /></div>
            <div class="col-md-6">
                <div class=" mb-1"> @Model.ProductCategory</div>
                <h1 class="display-5 fw-bolder">@Model.ProductName</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">
                        <span class="text-decoration-line-through me-2"> @Model.NormalPrice.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID")) </span>
                    </span>
                    <span>@Model.DiscountedPrice.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID")) </span>
                </div>
                <p class="lead">@Model.Description</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-lg btn-outline-dark rounded-0 flex-shrink-0" type="button">
                        @* <i class="bi-cart-fill me-1"></i> *@
                        <i class='bx bx-cart me-1'></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
