@model BloggieWeb.Models.ViewModels.ProductDto
@using System.Globalization

@{
    ViewData["Title"] = "Show Product";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-start">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="@Model.ImageUrl" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="sticky-top">
                    <div class="mb-1">@Model.ProductCategory</div>
                    <h1 class="display-5 fw-bolder">@Model.ProductName</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">
                            <span class="text-decoration-line-through me-2">@Model.NormalPrice.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</span>
                        </span>
                        <h3 class="fw-bold text-danger">@Model.DiscountedPrice.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</h3>
                    </div>
                    <p class="lead">@Model.Description</p>
                    <form>
                        <input class="form-control text-center mb-3 d-none" id="ProductId" type="text" value="@Model.Id" />
                    <div class="d-flex flex-column">
                        <label for="inputSize" class="form-label">Size</label>
                        <select class="form-select mb-3" id="InputSize">
                            <option value="S">Small</option>
                            <option value="M">Medium</option>
                            <option value="L">Large</option>
                            <option value="XL">Extra Large</option>
                        </select>
                        <label for="inputQuantity" class="form-label">Quantity</label>
                        <input class="form-control text-center mb-3" id="InputQuantity" type="number" value="1" style="max-width: 5rem" />
                        <button id="AddToCartBtn" class="btn btn-lg btn-outline-dark rounded-0 flex-shrink-0 shadow-none" type="button">
                            <i class='bx bx-cart me-1'></i>
                            Add to cart
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AddToCartBtn').click(function () {
                var quantity = $('#InputQuantity').val();
                var productId = $('#ProductId').val();

                console.log("Quantity:", quantity);
                console.log("Product ID:", productId);


                $.ajax({
                    url: '/Cart/AddToCart',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({quantity: quantity, productId: productId }),
                    success: function (response) {
                        console.log('Item added to cart successfully:', response);
                        Swal.fire({
                            position: "top-end",
                            icon: "success",
                            title: "Item added to cart",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to add item to cart.', error);
                        alert('Failed to add item to cart.');
                    }
                });
            });
        });
    </script>
}
